@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: hidden;
  font-family: "Libre Baskerville", serif;
}

.ham {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1000;
  margin-left: 15px;
  margin-right: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  position: fixed;
}

.ham .line {
  width: 100%;
  height: 5px;
  background-color: #eeebe5;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ham .line-1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
          transform: rotateZ(-45deg) translate(-8px, 6px);
}

.ham .line-2 {
  opacity: 0;
}

.ham .line-3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
          transform: rotateZ(45deg) translate(-8px, -6px);
}

.bg {
  background-image: url("../images/wall.jpeg");
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#logo {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#logo:hover {
  -webkit-filter: brightness(100%) contrast(200%);
          filter: brightness(100%) contrast(200%);
}

.headerNav {
  color: white;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.headerNav a {
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.headerNav a:hover {
  background-color: #eeebe55d;
}

.vertical-divider {
  border: 1px solid rgba(255, 255, 255, 0.493);
}

.textareas {
  border: 0;
  min-width: 190px;
  max-height: 100px;
}

.formcard {
  min-width: 340px;
  top: -40px;
  -webkit-animation: fadeInLogin 0.5s;
          animation: fadeInLogin 0.5s;
}

@-webkit-keyframes fadeInLogin {
  from {
    top: -70px;
    opacity: 0;
  }
  to {
    top: -40px;
    opacity: 1;
  }
}

@keyframes fadeInLogin {
  from {
    top: -70px;
    opacity: 0;
  }
  to {
    top: -40px;
    opacity: 1;
  }
}

.hx-80 {
  height: 12rem;
}

.h-100 {
  height: 20rem;
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.transition {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.post {
  min-width: 300px;
}

.formcard {
  height: 30rem;
  min-height: 20rem;
}

.tab {
  border-bottom: #00c2f381 2px solid;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@media (min-width: 660px) {
  .tab {
    border-right: #00c2f381 2px solid;
  }
}

.feed {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.feed::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.project-nav {
  padding: 4px 0px 4px 0px;
}

.project-nav .sep {
  display: hidden;
}

.project-nav .nav {
  margin: 5px 0px 5px 0px;
}

.project-nav .nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 90%;
  padding: 5px 0px 5px 0px;
  margin: 2px 0px 2px 0px;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project-nav .nav a img {
  margin: 0px 12px 0px 2px;
}

.project-nav .nav a:hover {
  background-color: rgba(255, 255, 255, 0.397);
}

@media (min-width: 660px) {
  .project-nav .nav a {
    text-align: left;
  }
}

.project-nav h1 {
  font-size: 1rem;
  padding: 6px 0px 6px 0px;
  margin-top: 20px;
  text-align: center;
  color: #43658b;
}

@media (min-width: 660px) {
  .project-nav .sep {
    border: 1px solid rgba(255, 255, 255, 0.493);
    margin: 6px 0px 6px 0px;
  }
  .project-nav h1 {
    font-size: 1rem;
    text-align: left;
  }
}

.rot {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.rotback {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */